################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Первый/backend/FirstCompany.Api/.vs/FirstCompany.Api
